@font-face {
  font-family: "basier";
  src: url("./fonts/basiersquare-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./fonts/roslindale/Roslindale-DisplayRegular-Testing.woff2") format("woff2");
  font-family: "Roslindale";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./fonts/roslindale/Roslindale-DisplayCondensedLightItalic-Testing.woff2") format("woff2");
  font-family: "Roslindale";
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("./fonts/roslindale/Roslindale-TextItalic-Testing.woff2") format("woff2");
  font-family: "Roslindale";
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-normal-300.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-italic-300.ttf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-normal-400.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-italic-400.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-normal-500.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-italic-500.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-normal-700.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("./fonts/cheltenham/cheltenham-italic-700.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("./fonts/imperial/imperial-normal-500.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("./fonts/imperial/imperial-italic-500.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("./fonts/imperial/imperial-normal-600.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("./fonts/imperial/imperial-italic-600.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("./fonts/imperial/imperial-normal-700.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("./fonts/imperial/imperial-italic-700.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "ClarendonRoman";
  src: url("./fonts/clarebtrom-webfont.ttf") format('truetype');
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  text-rendering: optimizeLegibility;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageView {
  width: calc(100% - 630px);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.vocabContainer {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  overflow: hidden;
}

.mainFixed {
  width: 100%;
  height: 100%;
  background: #0c0c0c;
  position: relative;
}

.mainFixedContent {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 9%;
}

.mainFixedBottom {
  width: 100%;
  position: relative;
  z-index: 99;
}



.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.mainImage {
  display: block;
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
  position: relative;
  z-index: 2;
}

.imgBtn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3b3735;
  padding: 8px 12px;
  appearance: none;
  border: none;
  transition: all 0.2s ease-in;
  z-index: 99;
  opacity: 0;
}

.imgBtn:hover {
  background: #4e423c;
  opacity: 1;
}

.imgBtnLeft {
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.imgBtnRight {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.mainImageBlurred {
  display: block;
  width: 150%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  filter: blur(200px) brightness(0.7);
}

.imageDesc {
  padding: 1.5vw;
  width: 270px;
  height: 100%;
  background-color: #07070799;
}

#imgDesc {
  margin-top: 9vh;
  font-size: 0.9rem;
}

#imgDesc .main-description__text-content {
  max-height: 54vh;
  overflow-y: scroll;
  font-size: 0.9vw;
}

#imgDesc .main-description__text-content::-webkit-scrollbar {
  display: none;
}

#imgDesc .main-description__share-date {
  font-family: "basier", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 1vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #989da7;
}

#imgDesc .main-description__title {
  font-family: "Roslindale";
  font-weight: normal;
  font-size: 1.5vw;
  letter-spacing: 0.02em;
  color: #fff;
}

#imgDesc .main-description__attr {
  letter-spacing: -0.25px;
  font-size: 0.8vw;
  color: #989da7;
  font-family: "basier", sans-serif;
  margin-bottom: 5px;
}

#imgDesc .main-description__authors {
  font-size: 0.8vw;
  letter-spacing: -0.15px;
  color: #fff;
  list-style: none;
  font-family: "basier", sans-serif;
  margin-bottom: 5px;
}

#imgDesc .main-description__authors li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#imgDesc .main-description__authors .main-description__author {
  background: #343434;
  padding: 4px 15px 4px 4px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 53px;
  appearance: none;
  border: none;
  margin: 0;
  margin-right: 5px;
}

#imgDesc .main-description__authors img {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 100%;
  object-fit: fill;
  margin-right: 5px;
}

#imgDesc .main-description__text-content,
#imgDesc .main-description__text-content a {
  letter-spacing: -0.25px;
  font-size: 0.75rem;
  color: #989da7;
  font-family: "basier", sans-serif;
  mix-blend-mode: difference;
}

#imgDesc .main-description__text-content p {
  margin: 3px 0;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #989da7;
}

#imgDesc .main-description__share-toolbar,
#imgDesc .footer {
  display: none;
}

/* -----------Login------------ */
.loginPage {
  background: #070707;
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 360px;
  height: 100%;
  background: #070707;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.footerBtnContainer {
  border-top: 1px solid #b5a9941f;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #070707;

}

.footerBtn {
  height: 30px;
  flex-grow: 1;
  border: 0;
  outline: 0;
  font-family: "Roslindale";
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.3px;
  cursor: pointer;
  color: #7c7b7a;
  background: none;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 99;
  position: relative;
}

.footerBtnActive {
  color: #fff;
}

.footerBtn:hover {
  color: #fff;
}


.cornerButton {
  width: 90px;
  height: 30px;
  background: url(/img/sunset.jpg);
  background-size: cover;
  background-position: center bottom;
  position: relative;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.cornerButton::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #7c7b7a;
  position: absolute;
  left: -1.5px;
  top: 13.5px;
}

/* -------------flip card---------------------*/
.contentHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  position: relative;
}

.flashCardContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 185px;
  width: 100%;
  background: #000;
}

#flashCardContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  position: relative;
  width: 400px;
  height: 185px;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #070707;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.item-wrapper:hover .img-overlay,
.item-hover .img-overlay {
  top: -100%;
}

/* .item-hover .item-back,
.item-wrapper:hover .item-back {
  background-size: 101%;
} */

/* .item-hover .indicateFlip,
.item-wrapper:hover .indicateFlip {
  top: -9%;
} */

.item-back {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 98%;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  z-index: 2;
  padding: 18px 9px 18px 90px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 2px solid #fff;
  border-style: ridge;
  align-items: flex-start;
}

.item-back svg {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.flip-card-front-content {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 18px 18px 18px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-front-content h1 {
  font-size: 33px;
  font-family: "Roslindale";
  letter-spacing: 1.5px;
  margin-bottom: 3px;
}

.flip-card-front-content .cardPhonetic {
  font-size: 21px;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: normal;
  color: #ca140c;
}

.flip-card-front-content .cardTextClass {
  font-size: 9px;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: normal;
}

.indicateFlip {
  position: absolute;
  border: 1px solid transparent;
  top: -6%;
  left: 12px;
  z-index: 6;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 210px;
  background-image: url("./img/newflag.png");
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 3px #000000d1);
}

#indicateFlip {
  margin-bottom: 3px;
  text-align: center;
  z-index: 19;
  font-size: 1em;
  font-family: "Roslindale";
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 0px 1px #000000d1;
}

.indexFlip {
  position: absolute;
  bottom: 3px;
  left: 90px;
  opacity: 0.45;
  font-size: 11px;
}

.progressFlip {
  position: absolute;
  top: 12px;
  right: 15px;
  font-family: "Roslindale";
  color: #ca140c;
  font-size: 15px;
  z-index: 6;
}

.cardName {
  display: none;
}

.flip-card-back-content {
  z-index: 66;
  max-height: 100%;
  overflow: scroll;
}

.flip-card-back-content::-webkit-scrollbar {
  display: none;
}

.flip-card-back-content img {
  transform: rotate(-18deg);
  vertical-align: sub;
  margin-left: 6px;
}

.flip-card-back-content .cardMeaning {
  font-family: "Roslindale";
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  text-align: left;
  white-space: break-spaces;
  /* text-shadow: 0 2px 3px #000000b0; */
}

/* -----------input search----------- */
.myInputContainer {
  width: 100%;
  height: 47px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -11px;
  left: 0;
  z-index: 77;
}

.myInputLeftOrnament {
  width: 13px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("./img/input-left-corner.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
}

.myInputRightOrnament {
  width: 13px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("./img/input-right-corner.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
}

.myInputCenterOrnament {
  width: 100%;
  height: 25px;
  position: absolute;
  left: 0;
  top: 11px;
  background: #070707;
  z-index: 0;
  border-top: 1px solid #b5a9941f;
  border-bottom: 1px solid #b5a9941f;
}


.myInputContent {

  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.myInput {
  flex-grow: 1;
  box-sizing: inherit;
  color: #fff;
  background: transparent;
  height: 25px;
  padding: 0 9px;
  font-size: 11px;
  border: 0;
  outline: 0;
  transition: all 0.3s ease;
  font-family: "basier", sans-serif;
}

.myInputIcon {
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  margin-right: 6px;
}

.transInputContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.transInputContent input {
  flex-grow: 1;
}

.transInputContent:hover .myInputIcon {
  opacity: 1;
}

/* ---------------buttonSwitch--------- */
.inputWordRow {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  outline: 0;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 27px;
  height: 12px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6),
    0px 0px 5px 0px rgba(0, 0, 0, 0.6) inset;
  border: 0;
  background: none;
  color: #ececec;
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 2px;
  z-index: 99;
}

.cornerDot {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-right: 3px solid #b6a893;
  border-bottom: 3px solid #b6a893;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.cornerDotActive {
  border-right: 3px solid #00ff16;
  border-bottom: 3px solid #00ff16;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

/* ------------tomatoclock---------- */

#tomatoText {
  font-size: 9px;
  font-family: "basier", sans-serif;
  font-weight: normal;
  line-height: 9px;
  text-align: center;
  padding: 3px 0;
  display: none;
  opacity: 1;
  cursor: pointer;
}

.serverDot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #070707;
  z-index: 36;
  cursor: pointer;
}

.serverDotToggle {
  background: #b6a893;
}

.wordNum {
  font-size: 9px;
  font-family: 'Roslindale';
  cursor: default;
  color: #7c7b7a;
  margin-top: 1px;
  letter-spacing: .9px;
}

.buttonsContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 36;
  width: 60px;
  height: 60px;
}


.fncButton:nth-child(1) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 0ms;
}

.fncButton:nth-child(2) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 50ms;
}

.fncButton:nth-child(3) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 100ms;
}

.fncButton:nth-child(4) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 150ms;
}

.fncButton:nth-child(5) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 200ms;
}

.fncButton:nth-child(6) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 250ms;
}

.fncButton:nth-child(7) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 300ms;
}

.fncButton:nth-child(8) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 350ms;
}

.fncButton:nth-child(9) {
  transition: right 0.3s ease, bottom 0.3s ease;
  transition-delay: 100ms;
}

.buttonsContainer:hover .fncButton:nth-child(1) {
  right: 3px;
  bottom: 41px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(2) {
  right: 22px;
  bottom: 41px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(3) {
  right: 41px;
  bottom: 41px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(4) {
  right: 41px;
  bottom: 22px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(5) {
  right: 41px;
  bottom: 3px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(6) {
  right: 22px;
  bottom: 3px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(7) {
  right: 3px;
  bottom: 3px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(8) {
  right: 3px;
  bottom: 22px;
  opacity: 1;
  z-index: 36;
}

.buttonsContainer:hover .fncButton:nth-child(9) {
  right: 22px;
  bottom: 22px;
  opacity: 1;
  z-index: 36;
}

.fncButton {
  display: inline-block;
  border-radius: 27%;
  position: inherit;
  right: 3px;
  bottom: 41px;
  z-index: 1;
  font-size: 0.85rem;
  line-height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff80;
  background-color: #212121;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 1px;
  border-radius: 2px;
  opacity: 0;
  box-shadow: 0px 0px 9px #1c1c1c;
}

.fncButton:hover {
  transition: all 0.1s linear;
  color: #fff;
  box-shadow: 1px 1px 12px #121212;
  text-shadow: 0px 0px 6px #f4f4f4;
}

/* calendar */
.calendarContainer {
  width: 100%;
  height: calc(100vh - 31px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.calendarCard {
  font-family: "Rubik", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}


#calendarContent {
  position: inherit;
}

.calendarContainer::-webkit-scrollbar {
  display: none;
}

.calendarHeader:hover .tableHistory {
  height: 108px;
}


.calendarContent {
  height: 270px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

/* .calendarContent::after {
  content: "";
  display: block;
  background: #00000015;
  width: 100%;
  height: 100%;
} */

.calendarCardContent {
  background: #fffffff6;
  display: flex;
  justify-content: center;
  padding: 6px 0 3px;
  position: relative;
}

.weekDate {
  height: 21px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 3px;
  background-color: #161616;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  cursor: default;
  font-weight: bold;
}

.weekTitle td:first-of-type span {
  color: #f90000;
  font-weight: bold;
}

.calendarCardContent table {
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  color: #0000004a;
  font-weight: bold;
}

.topCalendarContent,
.bottomCalendarContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.middleCalendarContent {
  position: absolute;
  top: 32px;
  right: 9px;
  color: #fff;
  padding: 6px;
  max-width: 145px;
  font-size: 10px;
  background: rgb(0 0 0 / 27%);
}

.weatherItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weatherItemSmall {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18px;
}

.weatherItemColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.currentWeatherImg {
  width: 70px;
}

.iconWeatherImg {
  width: 30px;
}

.bottomCalendarContent {
  align-items: flex-end;
}

.topCalendarText,
.bottomCalendarText {
  font-size: 10px;
  color: #fff;
  padding: 3px;
  background: rgb(0 0 0 / 27%);
}

#bottomCalendarText {
  width: 54%;
  white-space: pre-wrap;
}

.dateContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 211px;
  right: 6px;
  z-index: 99;
  background-color: #33333333;
  backdrop-filter: blur(6px);
  border-radius: 6px;
  padding: 6px 3px;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px #0000008c;
}

.dateContent div {
  color: #f4f4f4;
}

.dateContent:hover div {
  color: #ffffff;
}

#calendarMonth {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Rubik';
}

#calendarYear {
  font-size: 27px;
  line-height: 1.25rem;
  font-family: "nyt-imperial";
  margin-bottom: 2px;
  font-weight: bold;
}

.dateProgressDiv {
  font-family: 'Rubik';
  font-size: 7px;
  line-height: 6px;
}

.weekJobDoneImg {
  width: 11px;
  margin-right: 2px;
}

.dateProgressContent {
  display: flex;
  font-size: 11px;
  cursor: pointer;
}

.dateProgressContent span {
  display: flex;
  align-items: center;
}

.dateProgressContent:hover {
  text-shadow: 0px 0px 6px #000000d1;
}

.dateProgressFraction {
  font-variant-numeric: diagonal-fractions;
  margin-left: 5px;
  font-size: 0.85rem;
}

.normalDay {
  color: #383838;
  text-align: center;
  font-weight: bold;
}

.weekDay:not(:last-child) {
  border-bottom: 1px dotted #16161636;
}

.todayWeekDay {
  color: #383838;
}

.weekDay td>div {
  height: 22px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.weekDay td>div>span {
  cursor: default;
  position: relative;
}

.sundayDay {
  color: #f90000;
  font-weight: bold;
}

/* fix */
.weekDay .startDay::after,
.weekDay .endDay::after {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  background: #f90000;
  border-radius: 2px;
  position: absolute;
  bottom: 3px;
}

.weekDay .todayDay::before {
  content: "";
  position: absolute;
  bottom: 1px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #383838;
  z-index: 10;
}

.weekDay .todayDay {
  color: #383838;
}

.dayIndicateText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 10px;
  bottom: 0px;
  height: 22px;
}

.todayDay .dayIndicateText {
  right: 7px;
  bottom: 0px;
}

.dayIndicateText span {
  color: #0000004a;
  font-size: 8px;
  line-height: 9px;
}

.dayIndicateText span:first-child {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.dayIndicateTextDone span {
  color: #383838;
}

.todayDay .dayIndicateText span {
  color: #00d566;
}

#todayReset {
  cursor: pointer;
}

.calendarFooterQuote {
  background: #fffffff6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 3px;
}

.calendarFooterQuote p {
  font-size: 9px;
  font-family: "nyt-cheltenham";
  color: #000;
}

.calendarFooterContainer {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.calendarFooterBlurImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(9px) brightness(0.3);
  background-size: cover;
  background-position: 9%;
}

.calendarItem {
  background: #fffffff6;
  width: 100%;
  padding: 0 6px 6px 6px;
  border-radius: 3px;
  margin-top: 3px;
}

.calendarItemHeader {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  padding: 3px;
}

.calendarItemContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
}

.calendarItemContent input:checked {
  accent-color: #0707076c;
}

.calendarItemInput {
  border: 1px solid #00000066;
  background: transparent;
  padding: 1px 9px;
  font-size: 0.725rem;
  font-family: "Rubik", sans-serif;
  border-radius: 3px;
  width: 50%;
}

.calendarItemInput::placeholder {
  color: #000;
}

.calendarItemContent label {
  margin-left: 6px;
  cursor: pointer;
  color: #070707b1;
}

.calendarItemContent label:first-of-type {
  margin: 0 95px 0 6px;
}

.calendarItemInput:focus {
  outline: 0;
}

.calendarItemInput:not(:last-child) {
  margin-right: 5px;
}

/* ------------historytable----------- */
.calendarCardContentBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-top: 1px solid #3434348a;
}

.timeLog {
  color: #ededed;
  font-size: 9px;
  text-align: right;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tableHistory {
  height: 0;
  padding: 0 8px;
  transition: height 0.3s ease;
  background-color: #fffffff6;
}

#historyTable {
  padding-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableItem {
  width: 100%;
  display: flex;
  margin-bottom: 3px;
  justify-content: center;
}

.term {
  width: 100px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  color: #fff;
  position: relative;
  background: #161616;
  cursor: default;
  height: 18px;
  font-size: 11px;
  box-shadow: 0px 0px 2px #00000036;
}

.term_not_complete {
  height: 18px;
  font-size: 11px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  color: #ffffff73;
  position: relative;
  background: #161616;
  cursor: pointer;
  box-shadow: 0px 0px 2px #00000036;
}

.term_not_complete:hover {
  color: #fff;
}

.term::after,
.term_not_complete::after {
  content: "";
  width: 6px;
  height: 10px;
  position: absolute;
  background: #161616;
  left: 100%;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.desc {
  font-size: 11px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  color: #000;
  border-bottom: 1px solid #0000004a;
}

.desc>span,
.desc .dateProgressContent {
  width: 50%;
  padding-left: 18px;
  height: 12px;
}

/* ------------searchInput------------ */
.contentBody {
  height: calc(100vh - 241px);
  overflow-y: scroll;
  position: relative;
  background: #000;
  /* background: url("./img/noise.png");
  backdrop-filter: blur(9px) brightness(0.21); */
}

.contentBody::-webkit-scrollbar {
  display: none;
}

.contentText {
  width: 100%;
  margin-top: 6px;
  z-index: 33;
  position: absolute;
}

#quoteContent {
  font-size: 0.785rem;
  line-height: 1.1rem;
  padding: 6px;
  color: #363636;
}

div#quoteBody {
  width: 100%;
  margin: 3px 0;
}

div#contentBody {
  width: 100%;
}

#quoteBody .wordType {
  display: flex;
  align-items: center;
  padding: 6px;
}

.my-item {
  font-family: "basier", sans-serif;
  color: #000;
  display: block;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 3px 6px;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-bottom: 1px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
}

.my-item-active {
  font-family: "basier", sans-serif;
  background-color: #ffffff;
  color: #48c78e;
  font-weight: 600;
  border-left: 2px solid #48c78e;
  display: block;
  line-height: 1.5;
  padding: 3px 6px;
  text-decoration: none;
  cursor: pointer;
  backdrop-filter: blur(9px);
}

.my-item:hover {
  background-color: #ffffff;
  color: #48c78e;
  font-weight: 500;
  margin-left: 2px;
  border-left: 2px solid #48c78e;
  transition: all 0.3s ease;
}

/* --------------button---------- */
.close-btn {
  width: 28px;
  height: 15px;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  border: 1px solid #989da7;
  color: #ececec;
  background-color: #070707;
  transition: .2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

.close-btn:hover {
  color: #fff;
}

.close-btn i {
  font-size: 13px;
}


/* ----------------explaincontent---------- */
.explainContainer {
  font-family: "nyt-imperial";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  padding: 0 3px 3px;
  margin-bottom: 3px;
  background: url("./img/paper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.explainHeader {
  position: absolute;
  top: 2px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
}

.preRow {
  font-family: "Roslindale";
  color: #000;
  font-size: 12px;
  letter-spacing: 1px;
}

.wordType .preWord {
  margin-right: 3px;
  color: #181818;
  font-size: 11px;
}

.wordType h2 {
  display: inline-block;
  font-size: 1rem;
  margin-right: 3px;
  font-family: "nyt-cheltenham";
  font-weight: 500;
  color: #000;
}

.wordType .pos {
  color: #727272;
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
}

.wordType,
.sn-g:not(:last-child) {
  padding-bottom: 3px;
  border-bottom: 1px solid #343434;
}

span.x {
  display: block;
  font-size: 0.75rem;
  font-family: "nyt-imperial";
  font-weight: 500;
  line-height: 16px;
  margin: 2px 0;
  font-style: italic;
}

span.x b {
  font-weight: 600;
  color: #f90000;
}

span.x::before {
  content: "";
  display: inline-block;
  margin-right: 2px;
  width: 15px;
  height: 15px;
  background: url("./img/clover.png");
  background-size: contain;
  vertical-align: bottom;
  transform: rotate(-18deg);
}

.sn-g .num {
  font-family: "nyt-cheltenham";
  margin-right: 4px;
  font-weight: 700;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  text-align: center;
  font-size: 7.5px;
  margin-bottom: 1px;
  line-height: 9px;
  vertical-align: middle;
  border: 1px solid rgb(112, 112, 112);
}


.sn-g .thumb {
  display: block;
  margin: 3px 0 3px 9px;
  max-height: 180px;
}

.xr-gs {
  font-weight: 500;
  font-size: 0.8rem;
  margin: 3px 0;
  display: block;
  text-transform: uppercase;
  color: #181818;
}

.xr-gs small {
  color: #727272;
  text-transform: lowercase;
}

.quoteBtnContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid #343434;
}

.quoteBtn {
  cursor: pointer;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 21px;
  border-radius: 3px;
  border: 1px solid #989da7;
  color: #7c7b7a;
  background-color: #070707;
  transition: .2s ease;
  margin-right: 3px;
}

.quoteBtn:hover {
  color: #fff;
}

.quoteBtn i {
  font-size: 23px;
}

.quoteBtnBookmark i {
  font-size: 17px;
}

.quoteBtnClipboard i {
  font-size: 18px;
}


/* ------------translate----- */
.transItem {
  width: 100%;
  padding: 21px 3px 3px;
  margin-bottom: 3px;
  font-family: "nyt-imperial";
  font-size: 12px;
  color: #000;
  position: relative;
  background: #fffffff6;
}

.transItemHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 3px;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
}

.transItemContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  border-bottom: 1px solid #00000066;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.transItemContent label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 6px;
  margin-bottom: 3px;
  cursor: pointer;
}

.translateInputCheck {
  margin-right: 3px;
}

.translateInputCheck:checked {
  accent-color: #0707076c;
}

.subEditContainer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.transItem:hover .subEditContainer {
  height: 90px;
}

.editItemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 3px;
}

.editItemInputGroup {
  display: flex;
  align-items: center;
  width: 77%;
}

.editItemLabel {
  font: 13px "nyt-imperial";
  color: #000000;
  text-transform: uppercase;
}

.editItemLabelText {
  text-transform: capitalize;
  font-size: 12px;
}

.editItemInput {
  width: 77%;
  border-bottom: 1px dashed #989895;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #777;
  background: none;
  outline: none;
  font: 12px "nyt-imperial";
  letter-spacing: .6px;
}

.editItemInputChild {
  flex-grow: 1;
  border-bottom: 1px dashed #989895;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #777;
  background: none;
  outline: none;
  font: 12px "nyt-imperial";
  letter-spacing: .6px;
}

.editItemInputChildActive {
  color: #000;
}

.editItemArea {
  width: 77%;
  resize: vertical;
  font: 12px "nyt-imperial";
  font-weight: 400;
  color: #777;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-radius: 3px;
  outline: 0;
  padding: 3px;
}

.editItemArea::-webkit-scrollbar {
  display: none;
}

.editEnterBtn {
  height: 17px;
  cursor: pointer;
  margin-left: 6px;
}

.transItemInput {
  box-sizing: inherit;
  width: 100%;
  padding: 3px 9px;
  height: 21px;
  font-size: 11px;
  border: 0;
  outline: 0;
  background: transparent;
}

.transItemInput:focus {
  outline: 0;
}

#newText {
  transition: all 0.5s ease;
  opacity: 0;
  height: 0;
}

.transItemTranslation {
  font-weight: 600;
  margin: 3px 0;
  color: #3e8ed0;
  text-align: center;
  text-transform: lowercase;
}

#tlword,
.transItemType,
.transItemTranslation {
  font-size: 13px;
  font-family: 'Roslindale';
}

.transItemPhonetic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.transItemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transItemRow span,
.transItemType,
.transItemTranslation {
  cursor: pointer;
}

.transFrequency {
  display: flex;
}

/* -----------------------rssCard------------- */
.rssCardHeader {
  position: sticky;
  top: 0;
  right: 0;
  height: 0;
  display: flex;
  justify-content: flex-end;
}

.rssCard {
  font-family: "nyt-cheltenham";
  font-weight: 400;
  font-style: normal;
  font-size: 0.72rem;
  border-radius: 1px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 6px;
  padding: 6px;
  display: flex;
  background: url("./img/paper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.rssCardImg {
  border-radius: 6px;
  display: block;
  height: 150px;
  min-width: 150px;
  background-size: cover;
  background-position: center center;
}

.rssCardText {
  padding-left: 6px;
}

.rssCardText a {
  text-decoration: none;
  color: #000;
}

.rssCardTitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.rssBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.rssBtn {
  background: none;
  border: 0;
  outline: 0;
  margin-right: 9px;
  cursor: pointer;
}

.rssBtn:hover img {
  transform: scale(1.1);
}

.rssBtn img {
  width: 18px;
  height: 18px;
  transition: all 0.3 ease;
}

/* ----------responsive------------ */
@media only screen and (max-width: 618px) {

  .imageView,
  .imageDesc,
  .mainImageBlurred {
    display: none;
  }

  .main {
    background: #070707;
  }
}

@media only screen and (max-width: 1280px) {
  .imageDesc {
    display: none;
  }

  .imageView {
    width: calc(100% - 360px);
  }
}

/* ----------responsive------------ */

.zoom_image {
  overflow: hidden;
  margin: 0 auto;
  cursor: zoom-in;
}

.zoom_image.zoom_mode_active {
  cursor: zoom-out;
}

.zoom_image img {
  margin: 0 auto;
  max-width: 95%;
  object-fit: contain;
  transition: transform 200ms ease-out;
}

/* -------------Login------------ */
.loginForm {
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loginBtn {
  position: absolute;
  right: 70px;
  width: 24px;
  height: 25px;
  background: #ca140c;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.loginBtn i {
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #000;
  transition: all 0.5s ease;
}

.myInputPass {
  box-sizing: inherit;
  background: #fff;
  width: 216px;
  padding: 3px 9px;
  height: 25px;
  font-size: 11px;
  border: 0;
  outline: 0;
  transition: all 0.3s ease;
  font-family: "basier", sans-serif;
  border-radius: 3px;
  text-align: center;
}

.myInputPassErr {
  border-left: 3px solid red;
  background: #e5bcbc;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-9%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.city {
  animation: fade-in 1.5s ease, slide-in 1.2s ease;
}

/* weather -----------------------*/

.testContainer {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.testContainer::-webkit-scrollbar {
  display: none;
}

@keyframes moveBg {
  0% {
    background-position-x: 0;
  }

  50% {
    background-position-x: right;
  }

  100% {
    background-position-x: 0;
  }
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.raincanvasBg {
  animation: moveBg 1260s linear infinite;
  background-color: #fdfdfd;
  background-size: cover;
  background-position: top left;
  width: 358px;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.weatherPlace {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  z-index: 99;
  padding: 3px;
}

.weatherPlace select {
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background: 0;
}

.weatherPlace option {
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.weatherContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherContentTemp {
  font-size: 66px;
  line-height: 50px;
}

.weatherContentInfo:last-child {
  font-size: 10px;
}

.weatherContentInfo {
  font-size: 9px;
  padding-left: 9px;
}

.weatherContentWind {
  display: flex;
  align-items: center;
  font-size: 9px;
  padding-left: 9px;
}

.weatherContentWind span {
  margin-right: 3px;
}

.weatherPredict {
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
}

.hourDiv:not(:last-child) {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 9px 0;
}

.hourDiv:last-child {
  z-index: 99;
}

.hourTimeline,
.timelineItems {
  display: flex;
  flex-direction: column;
}

.hourTimeline {
  border-radius: 6px;
  overflow: hidden;
  margin-right: 6px;
}

.hourItem {
  display: block;
  width: 21px;
  height: 36px;
}

.timelineItem {
  width: 330px;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dots-box {
  flex: 1 1 auto;
  position: relative;
}

.dots-box:before {
  position: absolute;
  width: 94%;
  border-bottom: 1px dotted #000;
  content: "";
  left: 3%;
}

.timelineItemShow {
  width: 125px;
  height: 35px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.493);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelineItemShowText {
  background: #f5f9fa;
  padding: 1px 3px;
  border-radius: 12px;
  border: 1px solid #3434344f;
}

.windItemShow {
  display: flex;
  background: #f5f9fa;
  padding: 1px 3px;
  border-radius: 12px;
  border: 1px solid #3434344f;
  align-items: center;
  justify-content: center;
}

.windItemShow span {
  font-size: 0.75rem;
}

.timelineItemSum {
  margin-left: 6px;
  font-style: italic;
  font-size: 0.75rem;
}

.timelineItemHour {
  font-weight: bold;
  font-style: normal;
  font-size: 0.75rem;
  display: inline-block;
  width: 27px;
}

.hourBtn {
  background: none;
  border: 1px solid #007afe;
  color: #007afe;
  outline: 0;
  margin-right: 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  border-radius: 9px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.hourBtn:hover,
.hourBtnActive {
  background: #007afe;
  color: #fff;
}